*{
    font-family: 'Open Sans', sans-serif;
}
body{
    background-image: url("../images/concrete_seamless.png");
    margin: 20px;
}
h1{
    color: #005870;
}
.toolbar-toggle{
    text-decoration: none;
    color: #2c8884;
}
.toolbar-btn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

h2{
    text-align: center;
    color: #2c8884;    
}

.div-slider{
    display: flex;
    justify-content: center;
    transform: rotate(-3deg);
}

img{
    border-radius: 10px;
    padding: 20px ;
    background-color: white;
    box-shadow: 2px 2px 2px 2px gray;
}

.dot-container{
    width: 250px;
    margin: 20px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button{
    margin-left: 5px;
    outline: none;
    cursor: pointer;
}

.dot-container button{
    height: 15px;
    width: 50px;
    border-radius: 10%;
    border: 3px solid #076bb8;
}

.active{
    background-color: #076bb8;
}






.hidden{
    display: none;
}
